* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* scroll-snap-type: y mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth; */
}
:root {
  --primary-color: #d35400;
  --secondary-color: #2c3e50;
}
ul {
  list-style: none;
}
a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
